extends layout

block content
  // Header
  header#showcase.grid
    div.bg-image
    div.content-wrap
      h1.content-small(data-aos="zoom-in" data-aos-duration="500" style="font-weight: bold") HELLO, WORLD.
      div(data-aos="zoom-in" data-aos-duration="500" style="font-weight: bold; font-size: 4em; color: #aae8a4; letter-spacing: 4px") My First NodeJS App.
      a.btn(href="#section-a" data-aos="fade-up" data-aos-anchor-placement="top-bottom" data-aos-duration="500") Check my work 

  // Main
  main#id
    // Section A
    section#section-a.grid
      div.content-wrap
        h2.content-title(data-aos="zoom-out" data-aos-duration="500" style="color: #5e5e5e; letter-spacing: 1.2px") This is my SoftDev exam at Trends & Technologies Inc.
        div.content-text(data-aos="fade-up"
     data-aos-anchor-placement="bottom-bottom" data-aos-duration="500")
          p I was assigned to create a website that will utilize all methods in this <a href="https://jsonplaceholder.typicode.com/" target="_blank" style="text-decoration: none; color: #00aff0">free online API</a> using <span style="color: #aae8a4">NodeJS</span> and <span style="color: #5e5e5e">ExpressJS</span>. I studied about them and learned that <span style="color: #aae8a4">NodeJS</span> isn't a JavaScript framework but a JavaScript run-time environment that runs JavaScript in the server-side and <span style="color: #5e5e5e">ExpressJS</span> being its framework. The single-threaded event-driven system is fast even when handling lots of requests at once compared to others, besides of it being synchronous. It also supports thousands of packages/modules to make coding easier. Please click any button down below to explore my work.

    // Section B
    section#section-b.grid
      div.bg-image
      div.card-wrap
      ul
        li(data-aos="flip-down" data-aos-duration="1500")
          div.card
            img(src="https://i.imgur.com/mXOASDz.jpg" alt="")
            div.card-content
              h3.card-title: a.btn-redirect(href="/users") Users <i class="fas fa-arrow-right"></i>
              p This is where you'll see all users and their information. Please click the button to navigate.
        li(data-aos="flip-down" data-aos-duration="900")
          div.card
            img(src="https://i.imgur.com/OOk4kYg.jpg" alt="")
            div.card-content
              h3.card-title: a.btn-redirect(href="/posts") Posts <i class="fas fa-arrow-right"></i>
              p This is where you'll see all posts and its comments. Please click the button to navigate.
        li(data-aos="flip-down" data-aos-duration="1000")
          div.card
            img(src="https://i.imgur.com/n5mmGCJ.jpg" alt="")
            div.card-content
              h3.card-title: a.btn-redirect(href="/albums") Albums <i class="fas fa-arrow-right"></i>
              p This is where you'll see all albums and its content. Please click the button to navigate.

    // Section D
    section#section-d.grid
      div.box
        h2.content-title(data-aos="fade-up"
     data-aos-anchor-placement="bottom-bottom" data-aos-duration="500") About Me 
          i.fas.fa-quote-right(style="color: #ddd")
        img.about-img(src="https://i.imgur.com/krS3zEp.jpg" alt="" data-aos="fade-up"
     data-aos-anchor-placement="center-bottom" data-aos-duration="600")
        p(data-aos="zoom-in" data-aos-duration="500") Hi! I'm Migs, a recent graduate of Information Technology from TUP Manila and currently seeking for a software developer job. I'm proficient in both front-end and back-end web programming. I love to learn and I understand that being a programmer requires non-stop learning. I'm creative, fast learner, problem solver and a team player. When I'm not working, I'm usually at home doing the things I love like watching movies, playing video games and especially spending time with my family and friends. And oh, I almost forgot, besides being a "techy" guy, I'm also an endurance runner and a cyclist. I hate doing it but I have to because it takes my stress away! Haha! They also say I'm funny. :D

    // Section E
    section#section-e.grid
      div.content-wrap
        h2.content-title(style="color: rgba(0,0,0,0.7)" data-aos="fade-up"
     data-aos-anchor-placement="center-bottom" data-aos-duration="500") Contact Me 
          i.far.fa-envelope(style="color: #1ed760")
        p(data-aos="fade-up"
     data-aos-anchor-placement="center-bottom" data-aos-duration="500") Do you have an idea or simply want to chat? I'd love to hear from you.
        input(type="text", name="name", placeholder="Name.." data-aos="fade-up"
     data-aos-anchor-placement="center-bottom" data-aos-duration="800")
        input(type="email", name="email" placeholder="Email.." data-aos="fade-up"
     data-aos-anchor-placement="center-bottom" data-aos-duration="800")
        textarea(name="msg", cols="30", rows="8" placeholder="Just kidding. This isn't working." data-aos="fade-up"
     data-aos-anchor-placement="center-bottom" data-aos-duration="1000")
        h3.card-title: a.btn-redirect(href="#", style="letter-spacing: 3px" data-aos="fade-up"
     data-aos-anchor-placement="center-bottom" data-aos-duration="1000") Submit
        h3.content-title(data-aos="fade-up"
     data-aos-anchor-placement="bottom-bottom") Or 
        h2.content-title(style="color: rgba(0,0,0,0.7)" data-aos="fade-up"
     data-aos-anchor-placement="bottom-bottom") Let's Get Social 
          i.fas.fa-arrow-circle-right(style="color: #db4437")
        div(data-aos="fade-up"
     data-aos-anchor-placement="bottom-bottom" data-aos-duration="700")
          a(href="https://facebook.com/migsladisla" target="_blank")
            i.social-icons.fab.fa-facebook-f(style="color: #3b5998")
          a(href="https://twitter.com/migsladisla" target="_blank")
            i.social-icons.fab.fa-twitter(style="color: #00acee")
          a(href="https://linkedin.com/in/migsladisla" target="_blank")
            i.social-icons.fab.fa-linkedin-in(style="color: #0077B5")
          a(href="https://github.com/migsladisla" target="_blank")
            i.social-icons.fab.fa-github(style="color: #9cdaf1")
          p(data-aos="zoom-in" data-aos-duration="1000") Add me. Follow me. Connect with me.

    // Footer
    footer#main-footer.grid
      div Copyright &copy; Juan Miguel Ladisla 
      div Trends and Technologies Inc.
      div(style="font-size: 0.8em; margin-top: 1em") Made with 
        i.fab.fa-node-js(style="color: #68a063; font-size: 1.5em")
      div(style="font-size: 0.8em") ExpressJS and CSS3
          

  
  
  
  
  
  
  //- a(href='/users') View users..
  //- br
  //- a(href='/posts') View posts..
  //- br
  //- a(href='/albums') View albums..
  //- br
  //- a(href='/todos') View todos..
