extends layout

block content
  h1.text-center= title
  ul
    each post, i in posts
      each user, i in fakeUsers
        if post.userId == user.id
          h3= `Post ${post.id}: ${post.title} by ${user.name}`
          p= post.body
          a(href=`/posts/${post.id}`) View post..
          hr