extends layout

block content
  body.cover(style="color: #444444; text-align: left")
  div.page-grid-col
  h1(style="letter-spacing: 2px" data-aos="zoom-in")= title
    i.fas.fa-tasks(style="margin-left: 12px; color: #1da1f2" data-aos="fade-left" data-aos-duration="800")
    p(style="padding: 0; font-size: 0.4em; letter-spacing: normal") Fetched from <a class="ahref" target="_blank" href="https://jsonplaceholder.typicode.com/todos">https://jsonplaceholder.typicode.com/todos</a>
  ul
  div.wrapper
    each todo, i in todos
      each user, i in fakeUsers
        if todo.userId == user.id
          div.board(data-aos="fade-up"
    data-aos-anchor-placement="bottom-bottom" data-aos-duration="800")
            div.card-content
              a.ahref(href='users/'+user.id)=user.name
                i.fas.fa-check-circle(style="margin-left: 4px" data-aos="fade-left" data-aos-duration="800")
              h3(style="padding-top: 5px")= `Todo ${todo.id}: ${todo.title}`
              if !todo.completed
                p Status: Incomplete
                  i.fas.fa-times(style="margin-left: 6px; color: #ff9494")
              else 
                p Status: Completed
                  i.fas.fa-check(style="margin-left: 6px; color: #228B22")
              h3(style="padding: 0; padding-top: 10px").card-title: a.btn-view(href='/users/' + user.id) View profile <i class="fas fa-arrow-right"></i>

  footer(style="background: #f3f3f3")#main-footer
    div Copyright &copy; Juan Miguel Ladisla 
    div Trends and Technologies Inc.
    div(style="font-size: 0.8em; margin-top: 1em") Made with 
      i.fab.fa-node-js(style="color: #68a063; font-size: 1.5em")
    div(style="font-size: 0.8em") ExpressJS and CSS3