extends layout

block content
  body.cover(style="color: #444444; text-align: left")
  div.page-grid-col
  h1(style="letter-spacing: 2px" data-aos="zoom-in")= title
    i.fas.fa-comments(style="margin-left: 12px; color: #1da1f2" data-aos="fade-left" data-aos-duration="800")
    p(style="padding: 0; font-size: 0.4em; letter-spacing: normal") Fetched from <a class="ahref" target="_blank" href="https://jsonplaceholder.typicode.com/comments">https://jsonplaceholder.typicode.com/posts/:id/comments</a>
  ul
  div.board(data-aos="fade-up" data-aos-duration="800" style="background: rgb(231, 231, 231)")
    div.card-content
      a.ahref(href=`/users/${postedBy.id}`)=postedBy.name
                i.fas.fa-check-circle(style="margin-left: 4px" data-aos="fade-left" data-aos-duration="800")
      h3(style="padding-top: 5px")= `${post.title}`
      hr
      p(style="margin-bottom: 1em")= post.body
      h3(style="padding-bottom: 0")= `Comments`
        i.fas.fa-level-down-alt(style="margin-left: 10px; color: #1da1f2" data-aos="fade-left" data-aos-duration="800")
    each comm, i in comms
      div(style="padding: 0 2em")
        div.board(data-aos="fade-up" data-aos-duration="800")
          div.card-content
            a.ahref= `${comm.name}`
            h5(style="margin-top: 0")= comm.email
            p= `"${comm.body}"`

  footer(style="background: #f3f3f3")#main-footer
    div Copyright &copy; Juan Miguel Ladisla 
    div Trends and Technologies Inc.
    div(style="font-size: 0.8em; margin-top: 1em") Made with 
      i.fab.fa-node-js(style="color: #68a063; font-size: 1.5em")
    div(style="font-size: 0.8em") ExpressJS and CSS3